body {
    display: grid;
    font-family: sans-serif;
}

.calendly-inline-widget {
    min-width: 400px;
    height: 700px;
}


h1,
h2,
h3 {
    text-align: center;
}

.logo {
    text-align: center;
    width: 300px;
    margin-bottom: 10px;
}